.acf-row.collapsed > .acf-fields > .acf-field { display: none; }

.row-name-inserted { 
	display: none; 
	padding: 6px;
	cursor: pointer;
}
.row-name-inserted:hover { color: #999; }
.acf-row.collapsed .row-name-inserted { display: block; }

.acf-relationship .list { height: 400px; }