/**
 * Sugar for typing directly a property in multiple MQ in one line
 */
/**
 * Scales
 */
/**
 * Weights
 */
/**
 * IMPL
 */
/**
 * Front-end mixin.
 * usage : @include typo($desktop: thin red, $tablet: bold underline)
 */
/* Fluid setup */
/* --------------------------------------------------------------------------------- */
/**
 *
 */
/**
 *
 */
/**
 * [$desktop description]
 * @type {Boolean}
 */
/* line 1, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
.eovc {
  border-bottom: 1px solid #3C3C3B;
  margin-top: 7.1rem;
  /* ICON */
  /* --------------------------------------------------------------------------------- */ }
  /* line 5, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
  .eovc-nomargin {
    margin-top: 0; }
  /* line 7, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
  .eovc-row {
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: flex; }
    /* line 13, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-row.has-margin {
      margin-bottom: 7.1rem; }
    /* line 17, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-row-inner {
      display: -ms-flexbox;
      display: flex;
      width: 100%; }
      @media (max-width: 42.49em) {
        /* line 17, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
        .eovc-row-inner {
          display: block; } }
      /* line 25, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
      .eovc-row-centered .eovc-row-inner {
        margin-left: auto;
        margin-right: auto;
        max-width: 1300px;
        width: 100%;
        padding-left: 2.9rem;
        padding-right: 2.9rem; }
        @media (max-width: 42.49em) {
          /* line 25, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
          .eovc-row-centered .eovc-row-inner {
            padding-left: 1.4rem; } }
        @media (max-width: 42.49em) {
          /* line 25, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
          .eovc-row-centered .eovc-row-inner {
            padding-right: 1.4rem; } }
  @media (max-width: 42.49em) {
    /* line 35, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-col {
      width: auto !important;
      min-height: 50vh; } }
  /* line 41, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
  .eovc-wysiwyg {
    padding: 2.9rem;
    font-size: 23px;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
    /* line 50, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-wysiwyg.vertically_centered {
      -ms-flex-pack: center;
          justify-content: center; }
    /* line 54, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-wysiwyg-title {
      font-size: 32px;
      font-weight: 500;
      text-align: center;
      text-shadow: 4px 5px 20px rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid;
      padding-bottom: 1.4rem;
      margin-bottom: 1.4rem; }
    /* line 63, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-wysiwyg-content h2 {
      font-size: 79px;
      font-weight: 500;
      margin-bottom: 1.4rem; }
    /* line 67, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-wysiwyg-content p {
      margin-bottom: 1.4rem; }
    /* line 70, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-wysiwyg-content a {
      text-decoration: underline; }
      /* line 72, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
      .eovc-wysiwyg-content a:hover {
        text-decoration: none; }
    /* line 74, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-wysiwyg-content ul, .eovc-wysiwyg-content ol {
      margin-bottom: 0.7rem; }
      /* line 76, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
      .eovc-wysiwyg-content ul li, .eovc-wysiwyg-content ol li {
        margin-left: 1.4rem; }
    /* line 80, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-wysiwyg-content ul li {
      list-style: disc outside; }
    /* line 83, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-wysiwyg-content ol li {
      list-style: decimal outside; }
    /* line 86, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-wysiwyg-content img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto; }
    /* line 92, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-wysiwyg-content .wp-caption {
      max-width: 100%; }
      /* line 94, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
      .eovc-wysiwyg-content .wp-caption-text {
        font-style: italic;
        font-size: 21px; }
    /* line 99, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-wysiwyg-content .nomargin p {
      margin: 0; }
    /* line 100, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-wysiwyg-content .nomargin br {
      display: none; }
    /* line 102, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-wysiwyg-content iframe {
      max-width: 100%; }
  /* line 108, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
  .eovc-slider {
    height: 100%; }
    @media (max-width: 42.49em) {
      /* line 113, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
      .eovc-slider:not(.eovc-slider-full) {
        height: 50vh; } }
    /* line 116, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-slider-item {
      background-size: cover;
      background-position: center;
      height: 100%; }
    /* line 122, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-slider-img {
      height: auto; }
    /* line 126, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-slider .slick-prev {
      background-image: url(../images/larr-white.svg); }
    /* line 127, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-slider .slick-next {
      background-image: url(../images/rarr-white.svg); }
  /* line 130, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
  .eovc-video {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
  /* line 135, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
  .eovc-button {
    border-radius: 10px;
    text-decoration: none !important;
    display: inline-block;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden; }
    /* line 143, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-button.eovc-button-normal {
      font-size: 25px;
      padding: 0.7rem 1.4rem; }
    /* line 148, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-button.eovc-button-large {
      font-size: 32px;
      padding: 1.1rem 2.1rem; }
    /* line 153, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-button .eovc-icon {
      margin-left: -30px;
      width: 30px;
      height: 30px;
      opacity: 0;
      transform: translateX(200%);
      transition: all 0.2s ease-out; }
    /* line 162, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-button:hover .eovc-icon {
      opacity: 1;
      transform: translateX(0);
      margin-left: 20px; }
  /* line 174, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
  .eovc svg use {
    pointer-events: none; }
  /* line 175, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
  .eovc-svgstore {
    display: none; }
  /* line 176, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
  .eovc-icon {
    width: 1em;
    height: 1em;
    display: inline-block; }
    /* line 182, /Users/vincentwasteels/code/eopro/wp-content/plugins/eo-composer/sass/_eovc.scss */
    .eovc-icon-arrow {
      vertical-align: middle; }
