.eovc {
	border-bottom: 1px solid #3C3C3B;
	@include fluid(margin-top, $desktop: 100);

	&-nomargin { margin-top: 0; }

	&-row {

		background-size: cover;
		background-position: center;
		display: flex;
		
		&.has-margin {
			@include fluid(margin-bottom, $desktop: 100);
		}

		&-inner {
			display: flex;
			width: 100%;

			@include mq($until: mobile) {
				display: block;
			}

			.eovc-row-centered & { 
				margin-left: auto;
				margin-right: auto;
				max-width: 1300px;
				width: 100%;
				@include fluid(padding-left, $desktop: 40, $mobile: 20);
				@include fluid(padding-right, $desktop: 40, $mobile: 20);
			}
		}
	}
	&-col {
		@include mq($until: mobile) {
			width: auto !important;
			min-height: 50vh;
		}
	}
	&-wysiwyg {
		@include fluid(padding, $desktop: 40);
		@include typo($desktop: normal);
		height: 100%;
		background-size: cover;
		background-position: center;
		display: flex;
		flex-direction: column;

		&.vertically_centered {
			justify-content: center;
		}

		&-title {
			@include typo(xlarge bold center);
			text-shadow: 4px 5px 20px rgba(0, 0, 0, 0.3);
			border-bottom: 1px solid;
			@include fluid(padding-bottom, $desktop: 20);
			@include fluid(margin-bottom, $desktop: 20);
		}

		&-content {
			h2 {
				@include typo(xxxlarge bold);
				@include fluid(margin-bottom, $desktop: 20);
			}
			p {
				@include fluid(margin-bottom, $desktop: 20);
			}
			a {
				text-decoration: underline;
				&:hover { text-decoration: none; }
			}
			ul, ol {
				@include fluid(margin-bottom, $desktop: 10);
				li {
					@include fluid(margin-left, $desktop: 20);
				}
			}
			ul li {
				list-style: disc outside;
			}
			ol li {
				list-style: decimal outside;
			}
			img {
				max-width: 100%;
				height: auto;
				display: block;
				margin: 0 auto;
			}
			.wp-caption {
				max-width: 100%;
				&-text {
					@include typo(italic small);
				}
			}
			.nomargin {
				p { margin: 0; }
				br { display: none; }
			}
			iframe {
				max-width: 100%;
			}
		}
	}

	&-slider {
		height: 100%;


		@include mq($until: mobile) {
			&:not(.eovc-slider-full) { height: 50vh; }
		}

		&-item {
			background-size: cover;
			background-position: center;
			height: 100%;
		}

		&-img {
			height: auto;
		}

		.slick-prev { background-image: url(../images/larr-white.svg); }
		.slick-next { background-image: url(../images/rarr-white.svg); }
	}

	&-video {
		display: flex;
		justify-content: center;
	}

	&-button {
		border-radius: 10px;
		text-decoration: none !important;
		display: inline-block;
		font-weight: weight(bold);
		white-space: nowrap;
		overflow: hidden;

		&.eovc-button-normal {
			font-size: fontscale(large);
			@include fluid(padding, $desktop: 10 20);
		}

		&.eovc-button-large {
			font-size: fontscale(xlarge);
			@include fluid(padding, $desktop: 15 30);
		}

		.eovc-icon {
			margin-left: -30px;
			width: 30px; height: 30px;
			opacity: 0;
			transform: translateX(200%);
			transition: all 0.2s ease-out;
		}

		&:hover {
			.eovc-icon {
				opacity: 1;
				transform: translateX(0);
				margin-left: 20px;
			}
		}

	}

	/* ICON */
	/* --------------------------------------------------------------------------------- */

	svg use { pointer-events: none; }
	&-svgstore { display: none; }
	&-icon {
	    width: 1em;
	    height: 1em;
	    
	    display: inline-block;

	    &-arrow {
	    	vertical-align: middle;
	    }
	}
}